p,html,body{
    margin: 0px;
    padding: 0px; 
    }

html,body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex; 
    width: 100%;
    height: 100%;

}

/* ==================== 
      Right Image
====================== */

.right-image {
    background-image: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    padding-top: 20vh;
    padding-bottom: 60vh;
    min-width: 500px;
}

.logo-img {
    height: 200px; 
}

.logo {
    display: flex;
    background-color: rgba(0, 0, 0,.4);
    justify-content: center;
    align-items: center;
}

/* Typography */

.logo-text {
    font-size: 70px;
    color: white;
}

/* ==================== 
      Left Form
====================== */

/* Layout */
.form_container,
.right_container,
form {
    display: flex;
    flex-direction: column;
    gap: 2em;
    flex-grow: 1;
}

.form_container,
.lets_do_this {
    padding-left: 40px;
}

.herotext,
.bottom-section {
    background-color: #E5E7EB;
}

.herotext {
    padding: 15vh 0px 5vh 40px;
    display: flex;
    flex-direction: column;
}

.herotext p:nth-child(3){
    margin-top: 1em;
}

.herotext p:first-child{
    max-width: 750px;
}

.field {
    display: flex;
    flex-direction: column;
}

.name,
.contact,
.password {
    display: flex;
    gap: 3em;
}

.bottom-section {
    display: flex;
    flex-direction: column;
    flex-grow: 5;
    
    padding-left: 40px;
    padding-top: 2em;
    padding-bottom: 2em;
    gap: 2em;
    

    
}

/* Stylings */
button {
    max-width: 200px;
    padding: 1em;
    background-color: #596D48;
    border: none;
    border-radius: 5px;
    color: #E5E7EB;
}

input {
    border-radius: 5px;
    border-color: #E5E7EB;
    border-style: solid;
    height: 1.45em;
    min-width: 200px;
    outline: none;
}

input:invalid {
    border-color: red;
}

input:focus {
    border-color: blue;
}



/* Typography */
p {
    font-size: 1.5rem;
    font-weight: 600;
}

.already_have_account {
    font-size: 1rem;
    font-weight: 500;
}

label {
    letter-spacing: 1.5px;
    font-size: .8rem;
    font-weight: 500;
}

button {
    font-size: 1.3rem;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #596D48;
    font-weight: 900;
}